[Unit]
Description=Turns on CEC controlled device 
Requires=cec-initialize.service
After=cec-initialize.service

[Service]
Type=oneshot
ExecStart=/usr/bin/cec-ctl --image-view-on -t0
