[Unit]
Description=Turns off CEC controlled device 
Requires=cec-initialize.service
After=cec-initialize.service

[Service]
Type=oneshot
ExecStart=/usr/bin/cec-ctl --standby -t0 
